*{
    box-sizing: border-box;
}
body{
    
    background: url("./Cyberdevbackground.jpg") no-repeat center fixed;
    background-size: cover;
}
main{
    width: 90%;
    margin: 0 auto;
    display: inline;
}
#botaoStart{
        margin: 30% 45% 10% 45%;
        padding: 10px;
        border-radius: 5px;
        background: black;
        color: yellow;

}

#MsgBox{
    margin: 70% auto;
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    width: 80%;
    flex-direction: column;
    display: flex;
    align-items: center;


}


.flexItem{
    padding: 5px;
    color: yellow;
}
.flexItem2{
    padding: 5px;
    color: red;
}
.flexItem3{
    padding: 5px;
    color: rgb(0, 102, 255);
}

@media (max-width:768px){
   body{ 
    background: url("./CyberdevMobilebackground2.jpg") no-repeat center fixed;
    background-size: cover;
   }
   #botaoStart{
    margin: 70% 45% 10% 45%;
   }

}