body{
    background-image: url("./Cyberdevbackground.jpg");
}

#botaoStart{
        margin: 30% 45% 10% 45%;
        padding: 10px;
        border-radius: 5px;
        background: black;
        color: yellow;

}

#MsgBox{
    margin: 29% 10% 5% 15%;
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    color: yellow;
    flex-direction: column;
    display: flex;
    align-items: center;


}
.flexItem{
    padding: 5px;
}
#bt{
    back
}